[submodule "altair"]
	path = altair
	url = https://github.com/makerlabmx/altair.git
[submodule "altair-bootloader"]
	path = altair-bootloader
	url = https://github.com/makerlabmx/altair-bootloader.git
[submodule "aquilalib-node"]
	path = aquilalib-node
	url = https://github.com/makerlabmx/aquilalib-node.git
[submodule "aquila-server-client-node"]
	path = aquila-server-client-node
	url = https://github.com/makerlabmx/aquila-server-client-node.git
[submodule "altair-hardware"]
	path = altair-hardware
	url = https://github.com/makerlabmx/altair-hardware.git
[submodule "usb-serial-hardware"]
	path = usb-serial-hardware
	url = https://github.com/makerlabmx/usb-serial-hardware.git
[submodule "altair-arduinoide"]
	path = altair-arduinoide
	url = https://github.com/makerlabmx/altair-arduinoide.git
